#message-pane {
    background: url(http://bestanimations.com/Earth&Space/Earth/earth-spinning-rotating-animation-14.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: contain;
    background-position: right bottom
}